.keyboard-list {
  padding: 10px;
  width: 860px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .backspace {
    width: 14.535%;
  }

  .tab {
    width: 6.97%;
  }

  .capslock {
    width: 12.33%;
  }

  .del {
    width: 6.74%;
  }

  .enter {
    width: 14.42%;
  }

  .shift {
    width: 13.37%;
  }

  .space {
    width: 43.72%;
  }

  .ctrl {
    width: 6.98%;
  }

  .win {
    width: 6.74%;
  }

}
