$keyboard-buttons-color: #474747;
$keyboard-buttons-color-hover: rgb(129, 185, 140);
$shadow: 1px 2px 1px 1px #000; // box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); - more flying style


@mixin button-shadow {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.keyboard__button {
  min-width: 50px;
  min-height: 50px;
  padding: 10px;
  margin: 3px;
  font-size: 20px;
  background-color: $keyboard-buttons-color;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  @include button-shadow;

  &:hover {
    background-color: $keyboard-buttons-color-hover;
    border: $keyboard-buttons-color-hover;
  }

  &:active {
    transform: scale(0.95);
  }

}

.keyboard__button_active {
  background-color: $keyboard-buttons-color-hover;
  border: $keyboard-buttons-color-hover;
  transform: scale(0.95);
}
